# Kaggle House competition
trying predict house price

In [1]:
# all imports I need
import pandas as pd
import numpy as np
#for cross_feature
from itertools import combinations

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.metrics import mean_absolute_error, mean_squared_error

#models
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.linear_model import SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.dummy import DummyRegressor

#for pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

#preprocessing
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, Normalizer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import KBinsDiscretizer, PowerTransformer

#feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

from scipy import stats

import seaborn as sns
import matplotlib as mplt
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def transform_df(input_df,y_full):
    df = input_df.copy()
    df['Total_Bath'] = df['FullBath'] + df['HalfBath']
    features_cat_from_nan_very_good = ['BsmtQual', 'GarageFinish', 'FireplaceQu', 'MasVnrType', 
                                       'GarageType', 'BsmtFinType1', 'BsmtExposure']
    features_cat_no_nan_very_good = ['ExterQual', 'KitchenQual', 'Foundation', 'CentralAir', 'HeatingQC']
    features_cat_from_nan_maybe_good = ['GarageQual', 'GarageCond', 'Electrical', 'BsmtCond', 'Alley', 'Fence', 'PoolQC']
    features_cat_no_nan_maybe_good = ['SaleCondition', 'MSZoning', 'PavedDrive', 'LotShape', 'SaleType', 
                                      'HouseStyle', 'RoofStyle', 'BldgType', 'LandContour']
    features_num_good_corr = ['OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea', 'TotalBsmtSF', '1stFlrSF', 
                              'TotRmsAbvGrd', 'YearBuilt', 'YearRemodAdd', 'Total_Bath','FullBath']
    
    crossed_df, cross_features = get_cross_features(df,y_full)
    return df.join(crossed_df)[#features_cat_from_nan_maybe_good + features_cat_no_nan_maybe_good
                               features_cat_from_nan_very_good + features_cat_no_nan_very_good +  
                              features_num_good_corr + cross_features]

In [3]:
def get_cross_features(df_in, y_full):
    df = df_in.copy()
    last_col_index = df.shape[1]
    all_num_columns = df.select_dtypes(exclude='object').columns # select only numeric features
    c = combinations(all_num_columns,2)
    for comb in c:
        x1 = comb[0]
        x2 = comb[1]
        df[[x1 + '_x_' + x2]] = df[x1] * df[x2] # add new columns from right side
        #df.join(pd.Series(df[x1]*df[x2], name=x1+'_x_'+x2))
    target_name = y_full.name
    cross_corr = df.iloc[:, last_col_index:].join(y_full).corr()[target_name].sort_values(ascending=False).dropna()
    cross_features = cross_corr[cross_corr > 0.5].iloc[1:].index # skip SalePrice
    return df.iloc[:, last_col_index:], list(cross_features)

# Load data
it is possible to load data from [here](https://www.kaggle.com/c/home-data-for-ml-course/data "Kaggle's House competition")

In [4]:
#TRAIN_PATH = "../data/train.csv"
TRAIN_PATH = "../data/selectedData.csv"
TEST_PATH = '../data/test.csv'
Full_train = pd.read_csv(TRAIN_PATH,index_col='Id')
Full_test = pd.read_csv(TEST_PATH)
Full_train.dropna(axis=0,subset=['price'], inplace=True)
y_full = Full_train.price
X_full = Full_train.drop(axis=1, columns=['price'])

In [5]:
#columns_to_drop = ['MoSold','YrSold'] # these columns could be cause of data leakage, it is better to drop them
#X_full.drop(columns_to_drop, axis=1, inplace=True)

In [6]:
numeric_col = list((X_full.select_dtypes(exclude='object')).columns)
string_col = list((X_full.select_dtypes(include='object')).columns)
low_categorical_col = [col for col in X_full.columns
                  if X_full[col].dtype == 'object' and X_full[col].nunique() <10]

In [7]:
X_full.shape

(1458, 54)

## DO I NEED IT OR DELETE?

In [8]:
transformed = transform_df(X_full, y_full)

In [9]:
transformed

,BsmtQual,GarageFinish,FireplaceQu,MasVnrType,GarageType,BsmtFinType1,BsmtExposure,ExterQual,KitchenQual,Foundation,...,BsmtFinSF1_x_Total_Bath,Total_area_x_GarageCars,1stFlrSF_x_OverallCond,Total_area_x_Total_Bath,BsmtFinSF1_x_Has_fireplace,GrLivArea_x_BedroomAbvGr,Total_Bath_x_OverallCond,BsmtFinSF1_x_FullBath,BsmtFinSF1_x_OverallQual,Total_area_x_OverallQual
Id,,,,,,,,,,,,,,,,,,,,,
1,Gd,RFn,No value,BrkFace,Attchd,GLQ,No,Gd,Gd,PConc,...,2118,21808.0,4280,32712.0,0,5130,15,1412,4942,76328.0
2,Gd,RFn,TA,None,Attchd,ALQ,Gd,TA,TA,CBlock,...,1956,22644.0,10096,22644.0,978,3786,16,1956,5868,67932.0
3,Gd,RFn,TA,BrkFace,Attchd,GLQ,Mn,Gd,Gd,PConc,...,1458,27612.0,4600,41418.0,486,5358,15,972,3402,96642.0
4,TA,Unf,Gd,None,Detchd,ALQ,No,TA,Gd,BrkTil,...,216,35727.0,4805,11909.0,216,5151,5,216,1512,83363.0
5,Gd,RFn,TA,BrkFace,Attchd,GLQ,Av,Gd,Gd,PConc,...,1965,52932.0,5725,52932.0,655,8792,15,1310,5240,141152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,Gd,RFn,TA,None,Attchd,Unf,No,TA,TA,PConc,...,0,20048.0,4765,30072.0,0,4941,15,0,0,60144.0
1457,Gd,Unf,TA,Stone,Attchd,ALQ,No,TA,TA,CBlock,...,1580,31734.0,12438,31734.0,790,6219,12,1580,4740,95202.0
1458,TA,RFn,Gd,None,Attchd,GLQ,No,Ex,Gd,Stone,...,550,11634.0,10692,23268.0,275,9360,18,550,1925,81438.0
1459,TA,Unf,No value,None,Attchd,GLQ,Mn,TA,Gd,CBlock,...,49,11035.0,6468,11035.0,0,2156,6,49,245,55175.0
1460,TA,Fin,No value,None,Attchd,BLQ,No,Gd,TA,CBlock,...,1660,11469.0,7536,22938.0,0,3768,12,830,4150,57345.0

In [10]:
features_cat_from_nan_very_good = ['BsmtQual', 'GarageFinish', 'FireplaceQu', 'MasVnrType', 
                                   'GarageType', 'BsmtFinType1', 'BsmtExposure']
features_cat_no_nan_very_good = ['ExterQual', 'KitchenQual', 'Foundation', 'CentralAir', 'HeatingQC']
features_cat_from_nan_maybe_good = ['GarageQual', 'GarageCond', 'Electrical', 'BsmtCond', 'Alley', 'Fence', 'PoolQC']
features_cat_no_nan_maybe_good = ['SaleCondition', 'MSZoning', 'PavedDrive', 'LotShape', 'SaleType', 
                                  'HouseStyle', 'RoofStyle', 'BldgType', 'LandContour']
features_num_good_corr = ['OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea', 'TotalBsmtSF', '1stFlrSF', 
                          'FullBath', 'TotRmsAbvGrd', 'YearBuilt', 'YearRemodAdd', 'Total_Bath']

In [11]:
transformed[features_cat_from_nan_very_good] = transformed[features_cat_from_nan_very_good].fillna('None')

In [12]:
transformed.isna().sum()[transformed.isna().sum() > 0]

Series([], dtype: int64)

In [13]:
X_full

,LotArea,YearBuilt,YearRemodAdd,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,GarageArea,WoodDeckSF,...,MSSubClass,OverallQual,OverallCond,BsmtFullBath,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageCars
Id,,,,,,,,,,,,,,,,,,,,,
1,8450,2003,2003,706,856,856,854,1710,548,0,...,60,7,5,1,2,1,3,8,0,2
2,9600,1976,1976,978,1262,1262,0,1262,460,298,...,20,6,8,0,2,0,3,6,1,2
3,11250,2001,2002,486,920,920,866,1786,608,0,...,60,7,5,1,2,1,3,6,1,2
4,9550,1915,1970,216,756,961,756,1717,642,0,...,70,7,5,1,1,0,3,7,1,3
5,14260,2000,2000,655,1145,1145,1053,2198,836,192,...,60,8,5,1,2,1,4,9,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,7917,1999,2000,0,953,953,694,1647,460,0,...,60,6,5,0,2,1,3,7,1,2
1457,13175,1978,1988,790,1542,2073,0,2073,500,349,...,20,6,6,1,2,0,3,7,2,2
1458,9042,1941,2006,275,1152,1188,1152,2340,252,0,...,70,7,9,0,2,0,4,9,2,1
1459,9717,1950,1996,49,1078,1078,0,1078,240,366,...,20,5,6,1,1,0,2,5,0,1
1460,9937,1965,1965,830,1256,1256,0,1256,276,736,...,20,5,6,1,1,1,3,6,0,1

# preprocessing
it is time to Build a model, final steps!

## Drop columns\rows contains na values

In [14]:
X_full.dropna(axis=1)

,LotArea,YearBuilt,YearRemodAdd,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,GarageArea,WoodDeckSF,...,MSSubClass,OverallQual,OverallCond,BsmtFullBath,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageCars
Id,,,,,,,,,,,,,,,,,,,,,
1,8450,2003,2003,706,856,856,854,1710,548,0,...,60,7,5,1,2,1,3,8,0,2
2,9600,1976,1976,978,1262,1262,0,1262,460,298,...,20,6,8,0,2,0,3,6,1,2
3,11250,2001,2002,486,920,920,866,1786,608,0,...,60,7,5,1,2,1,3,6,1,2
4,9550,1915,1970,216,756,961,756,1717,642,0,...,70,7,5,1,1,0,3,7,1,3
5,14260,2000,2000,655,1145,1145,1053,2198,836,192,...,60,8,5,1,2,1,4,9,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,7917,1999,2000,0,953,953,694,1647,460,0,...,60,6,5,0,2,1,3,7,1,2
1457,13175,1978,1988,790,1542,2073,0,2073,500,349,...,20,6,6,1,2,0,3,7,2,2
1458,9042,1941,2006,275,1152,1188,1152,2340,252,0,...,70,7,9,0,2,0,4,9,2,1
1459,9717,1950,1996,49,1078,1078,0,1078,240,366,...,20,5,6,1,1,0,2,5,0,1
1460,9937,1965,1965,830,1256,1256,0,1256,276,736,...,20,5,6,1,1,1,3,6,0,1

In [32]:
X_numeric = X_full.select_dtypes(exclude='object')
X_numeric.dropna(inplace=True)

<ipython-input-32-8bac38b75207>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_numeric.dropna(inplace=True)

In [25]:
object_X = X_full.select_dtypes(include='object')

### Handle object data
using ohe

#### First, split data

In [48]:
x_train, x_valid, y_train, y_valid = train_test_split(X_full,y_full, random_state=42)

#### Second, Build a Pipeline

In [52]:
prep = ColumnTransformer([
    # use ohe for object encoding
    ('ohe', OneHotEncoder(sparse=False, handle_unknown='ignore'), object_X.columns)
],
    remainder='passthrough'
)

In [53]:
model = Pipeline([
    ('preprocessing', prep),
    ('model', DecisionTreeRegressor(random_state=42))
])

In [56]:
model.fit(x_train, y_train)
preds = model.predict(x_valid)

## Evaluating the model

In [55]:
print('mae: ', mean_absolute_error(preds, y_valid))
print('mse: ', mean_squared_error(preds, y_valid))
print('model_score: ', model.score(x_valid, y_valid))

mae:  26321.375342465755
mse:  2107818462.3452055
model_score:  0.6202142929100773

# Create sumbission on kaggle

In [23]:
#X_exam = Full_test[features].copy()

In [24]:
#sumbission on Kaggle
#predict_on_test = model.predict(X_exam)
#output = pd.DataFrame({'Id': Full_test.Id,
#                       'SalePrice': predict_on_test})
#output.to_csv('submission.csv', index=False)